name: Convert tokens to css variables

on:
  push:
    branches: [main]

jobs:
  build-and-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Notify Slack about the update
        uses: 8398a7/action-slack@v3
        with:
          status: success
          fields: workflow,job,commit,repo,ref,author,took
          custom_payload: |
            {
              "blocks": [
                {
                  "type": "header",
                  "text": {
                    "type": "plain_text",
                    "text": "Figma Design Tokens Update"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "Design updated! Commit message: *${{ github.event.head_commit.message }}*"
                  }
                }
              ]
            }
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
